body { 
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    margin: 0;
    font-family: monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropdown  {
    background-color: #282c34;
    color: white;
    border: 1px solid white;
    width: 50%;
    height: 30px;
}

textarea {
    background-color: transparent;
    color: white;
    width: 50%;
    height: 200px;
    font-size: small;
    border-radius: 8px;
    border: 1px solid white;
    padding: 5px;
}

button {
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 5px;
    height: 50px;
    width: 50%;
    font-size: large;
    background-color: #0d6efd;
}

button:disabled {
    background-color: #6c757d;
}